<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sample.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sample.description %>
</p>

<p>
  <b>Other:</b>
  <%= @sample.other_id %>
</p>

<p>
  <b>Finish:</b>
  <%= @sample.finish %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
