<h1>Admin Page</h1>
<h2>Export Data</h2>
<%=link_to "Export Participants", :controller => 'admin', :action => 'export_participants'%><br/>
<%=link_to "Export Messages", :controller => 'admin', :action => 'export_messages'%><br/>
<%=link_to "Export Pairings", :controller => 'admin', :action => 'export_pairings'%><br/>
<h2>Config Params</h2>


<%= form_tag("/custom_configs/update", :method => "post") do %>

  <% @confighash.keys.each do |key| %>
    <%= label_tag(key, key.to_s) %>
    <%= text_field_tag(key, @confighash[key]) %>
    <br/>
  <% end %>

  <%= submit_tag("Update") %>

<% end %>










