<h1>AMAZON TURK FAUX</h1>

<p>Thank you for choosing this HIT.  For this hit we ask you to complete a qualtrics survey in which you will interact with another participant.  You have been assigned as participant "XY69TR".  To complete the survey please follow the link below.  At the end of the survey you will be given a payout code which you can enter here also.</p>
<a href="<%=@qualtrics_link%>" target="_blank"><%=@qualtrics_link%></a>

<%= form_tag("#", :remote => 'true')  do %>
<p>When you have finished the survey enter your payout code here:</p>
  <%= text_field_tag(:payoutcode) %>
  <%= submit_tag("Submit") %>
<% end %>








